body{background:rgb(177, 111, 221);
    background: -webkit-linear-gradient(to right, #ac6dd6, #082f44);
    background: linear-gradient(to right, #89c3f3, #4e6e9e);
    }
   
section{margin-top:80px;}

/********************/

/*----header----*/
    nav{background:rgb(192, 191, 230);}
    
    .search-container button {
        background: rgb(245, 91, 181);
        border: none;
        cursor: pointer;
    }
  
  .search-container button:hover {
    background: rgb(235, 96, 212);
  }


/*---footer---*/    
    footer {padding-top:50px;
        padding-bottom:50px;
        color:rgb(235, 229, 229);
        background-color: black;
        }

    footer .footer-icons-hover:hover{opacity:0.60}


/********************************** HOMEPAGE ******************************************/

/*---heading---*/
    .container h2{text-align:center;
        font-size:50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

/*---table & form ----*/
    .t .table,.f{box-shadow: rgb(218, 83, 200) 0px 20px 30px -10px;}

    table th{font-size:20px;}


/*---carousel-----*/
    .carousel{box-shadow: rgba(223, 46, 170, 0.16) 0px 2px 8px, rgb(51, 51, 51) 0px 0px 0px 3px;
            width:99%;
        }

    .carousel-item img{width:100%;height:450px;}

    .carousel-item button{width:30%;
        padding:10px;
        box-shadow: rgba(150, 34, 34, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

    .carousel-item button a{text-decoration:none;
                        color:white;
                    }

    .topContent .carousel-control-prev-icon, .topContent .carousel-control-next-icon {
            width: 100px; height: 100px;
            }


/*---Card----*/
    .card{box-shadow: rgb(171, 39, 197) 0px 20px 30px -10px;
        height:380px;width: 20rem;
        background:linear-gradient(110deg, rgb(182, 173, 173) 60%, rgb(150, 159, 161) 60%);
        margin-bottom:50px}
    
    .card img{
            width:150px;
            margin: auto;
        }